<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Patient Record</title>

    <style>
        body {
            padding: 50px;
            min-height: 100vh;
            background: linear-gradient(-45deg, #3D7EAA, #FFE47A);
        }
    </style>

    <script defer src="../js/patient.js"></script>
    <link rel="stylesheet" href="../css/ham.css">

</head>

<body>

    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox" />

            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <a href="/home">
                    <li>Home</li>
                </a>
                <a href="/ward">
                    <li>Wards</li>
                </a>
                <a href="/patient">
                    <li>Medical Histories</li>
                </a>
                <a href="staff">
                    <!-- use ejs syntax  -->
                    <li> Staff Information</li>
                </a>
            </ul>
        </div>
    </nav>

    <div class="grid grid-cols-2 ml-40">
        <form action="/patient" method="post">
            <div class="flex p-8 text-2xl">
                <div class="mb-3 xl:w-96">
                    <label for="exampleFormControlInput1" class="form-label inline-block mb-2 text-gray-700">Patient No:
                    </label>
                    <input type="text" name="patientNoInputFieldValue"
                        value="<%= data && data[0] ? data[0].PatientNo : '' %>"
                        class="form-control block w-full px-3 py-2.5 text-base font-normal text-gray-900 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        id="patientNoInputField" placeholder="Enter Patient Number" />
                    <!-- search button -->
                    <button id="patientSearchButton"
                        class="mt-2 inline-block px-4 py-2.5 text-base font-medium leading-6 text-center text-white uppercase transition bg-blue-600 rounded shadow ripple hover:shadow-lg hover:bg-blue-700 focus:outline-none">
                        Search
                    </button>
                </div>
            </div>
        </form>
        <div class="docNo flex p-8 text-2xl">
            <% if (data && data[0]) { %>
                <p id="patNo">Doctor No: <%= data[0].DoctorNo %>
                </p>
                <% } %>
        </div>
        <div>
        </div>
        <div class="flex p-8 text-2xl">
            <% if (data && data[0]) { %>
                <p id="docName">Doctor Name: <%= data[0].DoctorName %>
                </p>
                <% } %>
        </div>
        <div>
        </div>
        <div class="flex p-8 text-2xl">
            <% if (data && data[0]) { %>
                <p id="consultant">Consultant: <%= data[0].ConsultantName %>
                </p>
                <% } %>
        </div>
        <div class="flex p-8 text-2xl">
            <% if (data && data[0]) { %>
                <p id="patName">Patient Name: <%= data[0].PatientName %>
                </p>
                <% } %>
        </div>
        <div class="flex p-8 text-2xl">
            <% if (data && data[0]) { %>
                <p id="dob">Date Of Birth: <%= data[0].empDOB %>
                </p>
                <% } %>
        </div>

    </div>




    <div class="medHistory flex text-4xl justify-center mb-10">
        <h1>Medical History</h1>
    </div>


    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="min-w-full text-center">
                        <thead class="border-b bg-gray-800">
                            <tr>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                    Complaint Code
                                </th>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                    Treatment Code
                                </th>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                    Doctor
                                </th>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                    Date Treatment Started
                                </th>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                    Date Treatment Ended
                                </th>
                            </tr>
                        </thead class="border-b">
                        <% if (data) { %>
                            <% data.forEach(function(item) { %>
                                <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-300">
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                        <%= item.ComplaintNo %>
                                    </td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        <%= item.TreatmentNo %>
                                    </td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        <%= item.DoctorName %>
                                    </td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        <%= item.DateTreatmentStarted %>
                                    </td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        <%= item.DateTreatmentEnded %>
                                    </td>
                                </tr>
                                <% }); %>
                                    <% } %>


                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>